.imgLoader {
    width: 100%;
    outline: none;
}
.imgLoader * {
    display: block;
    outline: none;
}
.imgLoader a {
    color: blue;
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
}
.imgLoader input {
    display: none;
    outline: none;
}
.imgLoader img {
    max-width: 100%;
    max-height: 250px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* border: 1px solid black; */
}
.centerForImageLoader * {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
